body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  gap: 50px;
}

.playground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid #000;
  position: relative;
}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}

.right-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 0;
}

.score {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.score-title {
  text-transform: uppercase;
}

.next-piece {
  width: 170px;
  height: 170px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tetromino-wrapper {
  position: relative;
}

.tcell {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: transparent;
}

.fcell {
  background-color: #0a66c2;
}

.x0 {
  left: 0;
}

.x1 {
  left: 40px;
}

.x2 {
  left: 80px;
}

.x3 {
  left: 120px;
}

.x4 {
  left: 160px;
}

.y0 {
  top: 0;
}

.y1 {
  top: 40px;
}

.y2 {
  top: 80px;
}

.y3 {
  top: 120px;
}

.y4 {
  top: 160px;
}

.button-start {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition:
    background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  margin-top: auto;
}

.button-start:hover,
.button-start:focus {
  background-color: #16437e;
  color: #fff;
}

.button-start:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button-start:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
